<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Security in database</title>
</head>
<body>
<div align="center">

    <div sec:authorize="isAuthenticated()">
        Welcome  <b><span sec:authentication="name"> Username </span> </b>
        <i><span sec:authentication="principal.authorities">Roles</span> </i>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>

    <h1>List of students</h1>
    <a href="/new"> Add a student</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Student ID</th> s
            <th>first name</th>
            <th>email</th>
            <th>last name</th>
            <th>study format</th>
            <th sec:authorize="hasAnyAuthority('TEACHER', 'CREATOR', 'CEOF')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${studentList}">
            <td th:text="${student.id}">student ID</td>
            <td th:text="${student.firsName}">Name</td>
            <td th:text="${student.email}">email</td>
            <td th:text="${student.lastName}">last name</td>
            <td th:text="${student.studyFormat}">study format</td>
            <td sec:authorize="hasAnyAuthority('TEACHER', 'CREATOR', 'CEOF')">
                <a th:href="@{'/edit/'+${student.id}}">Edit</a>

                <a sec:authorize="hasAnyAuthority('CREATOR', 'CEOF')" th:href="@{'/delete/'+${student.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>